[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121"
verify_ssl = false
name = "pytorch"

[packages]
tqdm = "*"
ipykernel = "*"
requests = "*"
pip = "*"
mpegcoder = "*"
librosa = "*"
matplotlib = "*"
pyyaml = "*"
dvc = "==3.47"
torch = {version = "==2.2.2", index = "pytorch"}
torchvision = {version = "*", index = "pytorch"}
torchaudio = {version = "*", index = "pytorch"}
torchinfo = "*"
colorama = "*"
pandas = "*"
dvc-s3 = "*"
ipython = "*"
dvclive = "*"
dagshub = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.5"

