[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
ipykernel = "*"
requests = "*"
pip = "*"
mpegcoder = "*"
librosa = "*"
matplotlib = "*"
pyyaml = "*"
dvc = "*"

[dev-packages]

[requires]
python_version = "3.9"
